<div class="input-checkbox {{ class }}">
		<span class='input-checkbox__option'>	
			<input class='input-checkbox__input' name="{{id}}" id="{{id}}" type='checkbox' value="{{ value }}" />
            <label class="input-checkbox__label" for="{{id}}">{{ label }}</label>
		</span>
</div>