<a class="animated-link {{ class }} {{#if color}} animated-link--{{ color }} {{/if}}  {{#if style}} animated-link--{{ style }} {{/if}} {{ class }}" href="{{ href }}" {{#if target}} data-target="#{{ target }}" {{/if}}>
    {{ content }}
</a>
