<{{ tag }} class="{{id}} {{#if class }} {{class}} {{/if}} section {{#if js }} js-{{id}} {{/if}} ">
	<div class="{{id}}__inner {{id}}__inner--left section__inner section__inner--right"></div>
	<div class="{{id}}__inner {{id}}__inner--center section__inner section__inner--center">
        {{> @partial-block}}
    </div>
    <div class="{{id}}__inner {{id}}__inner--right section__inner section__inner--left"></div>
</{{ tag }}>