<p class="paragraph {{#if color }} paragraph--{{ color }} {{/if}} {{#if style }} paragraph--{{ style }} {{/if}} {{ class }}" {{#if data-value}} data-value="{{ data-value}}" {{/if}}>
	{{ content }}
</p>